# change this!!
POSTGRES_PASSWORD=sit-down-c0mic

# change this too!!
GTFSDB_PASSWORD=h0rs3+feathers

# parameters for TriMet (Portland Oregon metro area)
# see <https://developer.trimet.org/GTFS.shtml>
GTFS_FEED=http://developer.trimet.org/schedule/gtfs.zip
TRIP_UPDATE_URL=http://developer.trimet.org/ws/V1/TripUpdate
SERVICE_ALERT_URL=http://developer.trimet.org/ws/V1/FeedSpecAlerts
VEHICLE_POSITION_URL=https://developer.trimet.org/ws/gtfs/VehiclePositions

# TriMet requires an ID for the real-time feed ... get your own! ;-)
appID="your_appID_goes_here"
